* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Home.png);
  background-position: center;
  background-size: cover;

}

header {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-left: 150px;
  padding-top: 20px;
  z-index: 100;
}

header.sticky {
  background: white;
  padding-bottom: 10px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.nav-bar li {
  display: inline;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 17pt;
  font-family: 'Open sans';
  font-weight: 600;
  transition: ease 0.15s;
}

.nav-bar li:not(:nth-child(6)):hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  transform: scale(1.1);
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
}

.nav-bar a {
  color: black
}

.sign-up {
  border: 1px black solid;
  padding: 10px 22px;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  transform: scale(1.1);
}

#language {
  background-color: transparent;
  font-size: 17pt;
  font-weight: 600;
  font-family: "Open sans";
  border: none;
}

.logo {
  font-size: 40pt;
  font-family: "Lexend";
  font-weight: bold;
  cursor: pointer;
  transition: ease 0.15s;
}

.logo a {
  color: black
}

.logo:hover {
  transform: scale(1.1);
}

.menu-icon {
  width: 30px;
  display: none;
  margin-right: 10px;
  transition: ease-in-out 0.15s;
}

.menu-icon:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

.hero-content {
  display: flex;
  align-items: center;
  padding-top: 180px;
}

.hero-txt {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 245px;
}

.hero-txt-p {
  font-family: "poppins";
  font-size: 20pt;
  font-weight: bold;
  color: rgb(223, 105, 81);
  padding-bottom: 25pt;
}

.hero-h1 {
  font-family: "volkhov";
  font-size: 84pt;
  font-weight: bold;
  color: rgb(24, 30, 75);
  padding-bottom: 25pt;
  line-height: 89pt;
}

.decor {
  position: absolute;
  padding-top: 14.9px;
  padding-left: 345px;
}

.decor img {
  width: 550px;
}

.hero-h1 span {
  position: absolute;
}

.hero-txt-p2 {
  font-family: "poppins";
  font-size: 16pt;
  font-weight: 600;
  color: rgb(94, 98, 130);
  line-height: 30pt;
  padding-bottom: 29pt;
}

.hero-buttons {
  display: flex;
}

.hero-text-button {
  background-color: rgb(241, 165, 1);
  border: none;
  font-size: 18pt;
  font-family: "open sans";
  font-weight: 600;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 10px;
  box-shadow: rgba(241, 165, 1, 0.25) 0px 25px 50px -12px;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.hero-text-button:hover {
  transform: scale(1.1);
}

.play-demo-all {
  display: flex;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.play-demo-all:hover {
  transform: scale(1.1);
}

.play-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 105, 81);
  height: 1fr;
  width: 60px;
  border-radius: 30px;
  box-shadow: rgba(223, 105, 81, 0.3) 0px 15px 30px -0px;
  overflow: hidden;
}

.play-demo img {
  width: 13px;
}

.play-demo-p {
  font-family: "poppins";
  font-size: 16pt;
  font-weight: 500;
  color: rgb(119, 109, 104);
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.traveler {
  position: absolute;
  left: 850px;
}

.traveler img {
  width: 850px;
}

.home-text-1 {
  font-family: "volkhov";
  font-size: 50pt;
  font-weight: bold;
  color: rgb(20, 24, 62);
}

.home-text-2 {
  font-family: "Poppins";
  font-size: 14pt;
  font-weight: 500;
  color: rgb(94, 98, 130);
  padding-bottom: 20px;
}

.home-text-3 {
  font-family: "Poppins";
  font-size: 12pt;
  font-weight: 500;
  color: rgb(94, 98, 130);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  position: relative;
}

.services-best {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-evenly;
  gap: 150px;
}

.services-best-description {

  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  transition: ease-in-out 0.15s;
  z-index: 20;
  border-radius: 30px;
  cursor: pointer;
}

.services-best-description:hover {
  transform: scale(1.1);

  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.services-text {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 20px;
}

.services-text-1 {
  font-family: "open sans";
  font-weight: 600;
  font-size: 14pt;
  color: rgb(30, 29, 76);
}

.services-text-2 {
  font-family: "poppins";
  font-weight: 500;
  font-size: 11pt;
  color: rgb(94, 98, 130);
  line-height: 20px;
}

#plane {
  padding-top: 0px;
}

#plane .services-text {
  padding-top: 0px;
}

#decoration {
  position: absolute;
  top: 530px;
  left: 620px;
}

#decoration-2 {
  position: absolute;
  top: 100px;
  left: 1600px;
}

.top-destination {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 250px;
  position: relative;
}

.top-selling {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  gap: 80px;
}

.top-selling img {
  border-radius: 24px;
  cursor: pointer;
}

.destination {
  position: relative;
  transition: 0.15s;
}

.img-text {
  position: absolute;
  left: 1px;
  right: 0;
  top: 1px;
  opacity: 0;
  transition: 0.10s;
}

.img-text:hover {
  transform: scale(1.1);
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.top-selling-text {
  position: absolute;
  background-color: white;
  height: 114px;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.top-selling-text-1 {
  display: flex;
  gap: 90px;
}

.top-selling-text-2 {
  display: flex;
  gap: 20px;
}

.booking {
  position: relative;
  padding: 200px 22%;
}

.booking-tips-box {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  gap: 20px;
}

.booking-tips {
  display: flex;
  vertical-align: top;
  gap: 20px;
  border-radius: 10px;
  width: 500px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: white;
}

.booking-tips img {
  width: 70px;
  border-radius: 23.5px;
}

.booking-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#london {
  position: absolute;
  top: 300px;
  left: 1250px;
  z-index: 1;
  cursor: pointer;
  border-radius: 24px;
  transition: 0.15s;
}

#london:hover {
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.2);
}

#full-europe {
  position: absolute;
  top: 375px;
  left: 1350px;
  cursor: pointer;
  z-index: 2;
  border-radius: 24px;
  transition: 0.15s;
}

#full-europe:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.1);
}

#blue-shadow {
  position: absolute;
  top: 100px;
  left: 1150px;
  z-index: -1;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 200px;

}

.testimonials-text {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
}

.testemon {
  position: relative;
  width: 560px;
  height: 245px;
  border-radius: 24px;
  transition: 0.15s;
}

.testemon:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.testemon-text {
  flex-direction: column;
  display: flex;
  padding-left: 38px;
  padding-top: 30px;
  gap: 20px;
}

.testemon img {
  position: absolute;
  border-radius: 50px;
  top: -30px;
  left: -40px;
}

.up-down-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  transition: ease-in-out 0.15s;
}

.up-direct,
.down-direct {
  color: rgb(188, 183, 194);
  transform: scale(2);
  border-radius: 24px;
  cursor: pointer;
}

.down-direct:hover {
  transform: scale(2.5);
}

.up-direct:hover {
  transform: scale(2.5);
}

.up-direct:active,
.down-direct:active {
  color: rgb(30, 29, 76);
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  padding-top: 200px;
  vertical-align: top;

}

.logos img {
  transform: scale(1.1);
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  transition: ease-in-out 0.15s;
  border-radius: 14px;
  cursor: pointer;
  filter: grayscale(100%);
}

.logos img:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.2);
  filter: grayscale(0%);
}

.newslettre {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  position: relative;
  padding-bottom: 300px;
}

.newslettre img {
  padding-right: 80px;
}

.newslettre-text {
  position: absolute;
  font-family: "poppins";
  font-weight: 600;
  font-size: 35pt;
  text-align: center;
  left: 340px;
  top: 220px;

  color: rgb(94, 98, 130);
}

.newslettre-contenu {
  z-index: 2;
}

.submiting {
  position: absolute;
  display: flex;
  top: 500px;
  left: 500px;
  gap: 30px;
  vertical-align: top;
}

.email {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 350px;
  font-size: 16pt;
  font-family: "montserrat";
  color: #31384e;
  border-radius: 15px;
  border: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.email:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.05);
}

.Subscribe {
  font-size: 17pt;
  font-family: "open sans";
  font-weight: 600;
  color: white;
  background-image: linear-gradient(to bottom, #FF946D, #FF7D68);
  padding: 29px 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.Subscribe:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.05);
  opacity: 0.7;
}

.Subscribe:active {
  opacity: 0.5;
}

.send {
  position: absolute;
  right: 22px;
  top: 100px;
}

.newslettre-decoration img {
  position: absolute;
  left: 1730px;
  top: 600px;
  transform: scale(1.1);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.footer-column-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: top;
  gap: 80px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  transition: ease-in-out 0.15s;
}

.footer-links a:hover {
  transform: scale(1.1);
}

.footer-text-1 a {
  font-family: "poppins";
  font-size: 44pt;
  font-weight: 500;
  color: #181E4B;
}

.footer-text-1 {
  padding-bottom: 30px;
}

.footer-text-2 {
  font-family: "poppins";
  font-size: 13pt;
  font-weight: 500;
  color: #5E6282;
}

.footer-text-3 {
  font-family: "poppins";
  font-size: 21pt;
  font-weight: bold;
  color: black;
  padding-top: 100px;

}

.footer-text-4 {
  font-family: "poppins";
  font-size: 18pt;
  font-weight: 500;
  color: #5E6282;
}

.footer-links a {
  text-decoration: none;
  font-family: "poppins";
  font-size: 18pt;
  font-weight: 500;
  color: #5E6282;
  padding-top: 20px;
}

.discover {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 80px;
  transition: ease-in-out 0.15s;
}

.discover img {
  cursor: pointer;
}

.discover img:hover {
  transform: scale(1.1);
}

.copyrights {
  display: flex;
  padding-left: 855px;
  padding-bottom: 50px;
}

/*Destinations page style*/
.destination {
  display: flex;
  align-items: center;
  padding-top: 250px;
  flex-direction: column;
  gap: 100px;
}

.destination-available {
  display: grid;
  grid-template-columns: 315px 315px 315px;
  grid-template-rows: 457px 457px 457px;
  column-gap: 50px;
  row-gap: 60px;
}

.destination-information img {
  border-radius: 24px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.destination-information img:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transform: scale(1.1);
}

.Upcoming-packages {
  display: flex;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;
  gap: 150px;
}

.tour-package {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

/*About Us Page Style*/
.About {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  gap: 200px;
}

.about {
  display: flex;
  padding-left: 440px;
  padding-top: 300px;
}

.about-text-1 {
  display: flex;
  flex-direction: column;
}

.About img {
  border-radius: 24px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.About img:hover {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.About-2 {
  display: flex;
  justify-content: space-around;
  padding-top: 450px;
  padding-bottom: 100px;
}

.About-2 img {
  transform: scale(1.1);
  cursor: pointer;
  border-radius: 24px;
  transition: ease-in-out 0.15s;
}

.About-2 img:hover {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

/*Contact Us Page Styles*/

.contact-text {
  width: 500px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 400px;
  left: 300px;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.contact-text:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.contact-forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(226, 226, 226, 0.7);
  position: absolute;
  top: 270px;
  left: 1150px;
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 80px;
  padding-right: 80px;
  border-radius: 15px;
  transition: ease-in-out 0.15s;
}

.contact-forum input {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 60px;
  border-radius: 12px;
  border: none;
  margin-bottom: 40px;
  font-family: "poppins";
  font-size: 15pt;
  text-align: left;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.contact-forum input:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.contact-forum button {
  background-color: #7070ED;
  font-family: "poppins";
  font-size: 15pt;
  font-weight: 500;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 14px;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.contact-forum button:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  opacity: 0.7;
}

.contact-forum button:active {
  opacity: 0.5;
}

/*Login Page Styles*/

.login {
  position: absolute;
  background-color: rgba(226, 226, 226, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  top: 120px;
  left: 650px;
  width: 587px;
  height: 700px;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.login button {
  width: 136px;
  height: 48px;
  font-size: 18pt;
  background-color: #40CA7A;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.login button:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  opacity: 0.7;
}

.login button:active {
  opacity: 0.5;
}

.login-forum {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.login-forum input {
  width: 363px;
  height: 60px;
  border-radius: 8px;
  border: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.login-forum input:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.login-forum input::placeholder {
  font-size: 18pt;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 10px;
  color: #6D6D6D;
}

.other-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.other-login-methodes {
  display: flex;
  align-items: center;
  background-color: white;
  width: 301px;
  height: 63px;
  border-radius: 10px;
  padding-left: 30px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.other-login-methodes:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.other-login-text {
  font-family: "poppins";
  font-size: 15pt;
  font-weight: 400;
}

.lines {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 191px;
  height: 1px;
  border: none;
  background-color: black;
}

/*Sign Up Page Styles*/
.Sign-up {
  position: absolute;
  background-color: rgba(226, 226, 226, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  top: 120px;
  left: 650px;
  width: 587px;
  height: 750px;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.sign-up-forum {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.Sign-up button {
  width: 136px;
  height: 48px;
  font-size: 18pt;
  font-weight: 500;
  background-color: #4077CA;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.Sign-up button:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  opacity: 0.7;
}

.Sign-up button:active {
  opacity: 0.5;
}

.sign-up-forum input {
  width: 308.45px;
  height: 50.13px;
  border-radius: 8px;
  border: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.sign-up-forum input:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.sign-up-forum input::placeholder {
  font-size: 16pt;
  padding-left: 10px;
  font-weight: 500;
  align-items: center;
}

.Full-name {
  display: flex;
  flex-direction: row;
  gap: 15.93px;
}

.Full-name input {
  width: 146.26px;
  height: 50.13px;
}

.other-sign-up {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.other-sign-up-methodes {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  width: 202.52px;
  height: 35.66px;
  border-radius: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  gap: 5px;
}

.other-sign-up-methodes:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.other-sign-up-methodes img {
  transform: scale(0.8);
}

.other-sign-up-text {
  font-family: "poppins";
  font-size: 10pt;
  font-weight: 400;
}

@media only screen and (max-width : 1600px) {
  header {
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 5px;
    padding-left: 5px;
  }

  .nav-bar li {
    display: none;
    padding-bottom: 20px;
  }

  .menu-icon {
    cursor: pointer;
    display: flex;
  }

}